// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------



.roundable {
  padding: 5px;
  width: 5rem;
  //height: 40px;
  color: #fff;
  margin: auto auto;
  //background: black;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 2px;

  /**/
  transition: all 0.25s;

  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    box-sizing: inherit;
    content: '';
    position: absolute;
    border: 2px solid transparent;
    border-radius: 2px;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }
  


  // Hover styles

  &:hover {
    color: $white-color;
    //background: darkcyan;
  }
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $white-color; // Make borders visible
    border-right-color: $white-color;
    transition:
      width 0.25s ease-out, // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }

  &:hover::after {
    border-bottom-color: $white-color; // Make borders visible
    border-left-color: $white-color;
    transition:
      border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
      width 0.25s ease-out 0.5s, // And then exanding width
      height 0.25s ease-out 0.75s; // And finally height
  }
}
